-- 创建库
CREATE DATABASE Remark

--创建表
--[Item]
CREATE TABLE [dbo].[Item](
	[ItemCode] [INT] IDENTITY(1,1) NOT NULL,
	[ItemName] [NVARCHAR](50) NOT NULL,
	[Status] [BIT] NULL,
	[CreateTime] [DATETIME] NULL CONSTRAINT [DF_Item_CreateTime]  DEFAULT (GETDATE()),
	[CreatePeople] [NVARCHAR](50) NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


-- [Price]
CREATE TABLE [dbo].[Price](
	[Id] [INT] IDENTITY(1,1) NOT NULL,
	[ItemCode] [INT] NOT NULL,
	[Date] [DATETIME] NULL,
	[Price] [DECIMAL](18, 2) NULL,
	[Remark] [NVARCHAR](1000) NULL,
	[CreateTime] [DATETIME] NULL CONSTRAINT [DF_Price_CreateTime]  DEFAULT (GETDATE()),
	[CreatePeople] [NVARCHAR](100) NULL,
	[Status] [BIT] NULL,
 CONSTRAINT [PK_Price] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
