@{
    ViewBag.Title = "按扭设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*数据列表*@
<table id="dg" class="easyui-datagrid" title="@ViewBag.Title" iconcls="icon-page"
    data-options="toolbar:'#tb',url:'GetDataList',rownumbers:true,autoRowHeight:false,pagination:true,pageSize:15,pageList:[15,30,50,100],striped:true,method:'post',width:'99%',height:document.documentElement.clientHeight-10,onDblClickRow:edit">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true,width:40"></th>
            <th data-options="field:'Buttons_ID',align:'center',width:100">按扭编码</th>
            <th data-options="field:'Buttons_NAME',align:'center',width:100">按扭名称</th>
            <th data-options="field:'Buttons_Remark',align:'center',width:100">备注</th>
            <th data-options="
                field:'Buttons_Status',
                align:'center',
                width:50,
                styler: function(value,row,index){
		                    if (value == '冻结') {
		                        return 'color:red;';
		                    }
		                }">状态</th>
            <th data-options="field:'Buttons_Img',align:'center',width:50">排序</th>
        </tr>
    </thead>
</table>
@*datagrid工具条*@
<div id="tb" style="height: auto; padding: 3px;">
    <a id="ADD" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" onclick="add()">添加</a>
    <a id="MODIFY" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" onclick="edit()">编辑</a>
    <a id="DELETE" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" onclick="doDelete()">删除</a>
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
    <a id="ADMIT" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="admit()">审核</a>
    <div style="float:right; line-height:27px;">
        <input class="easyui-searchbox" data-options="prompt:'请输入关键字',menu:'#mm',searcher:doSearch" style="width: 300px; height: 24px;" />
    </div>
    <div id="mm">
        <div data-options="name:'all',iconCls:'icon-ok'">全部</div>
        <div data-options="name:'Buttons_ID'">按扭编码</div>
        <div data-options="name:'Buttons_NAME'">按扭名称</div>
    </div>
</div>
@*编辑窗体*@
<div id="dlg" class="easyui-dialog" data-options="iconCls:'icon-save',closed:true,modal:true,shadow:true" buttons="#dlg-buttons" style="width: 340px;">
    <form id="fmedit" method="post" style="margin: 5px">
        <div class="editor-label">按扭编码:</div>
        <div class="editor-field">
            <input id="Buttons_ID" class="easyui-textbox" name="Buttons_ID" data-options="required:true" validType="length[3,10]" style="width: 100%; height: 22px">
        </div>
        <div class="editor-label">按扭名称:</div>
        <div class="editor-field">
            <input class="easyui-textbox" name="Buttons_NAME" data-options="required:true" style="width: 100%; height: 22px">
        </div>
        <div class="editor-label">备注:</div>
        <div class="editor-field">
            <input class="easyui-textbox" name="Buttons_Remark" style="width: 100%; height: 22px">
        </div>
        <div class="editor-label">排序:</div>
        <div class="editor-field">
            <input class="easyui-textbox" name="Buttons_Img" style="width: 100%; height: 22px">
        </div>

        <div class="editor-label">状态:</div>
        <div class="editor-field">
            <input checked="checked" name="Buttons_Status" style="width: 20px; height: 10px; background-color: white" type="radio" value="0" />正常
            <input name="Buttons_Status" style="width: 20px; height: 10px; background-color: white" type="radio" value="1" />冻结
        </div>
    </form>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" id="SAVE" onclick="doSave(this.id)">确定</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-clear" onclick="javascript:$('#dlg').dialog('close');">关闭</a>
    </div>
    
</div>
@section PageSpecificJavascriptIncludes{
    <script>
        var dgid = '#dg';//数据列表tabel id
        var fmid = '#fmedit';//数据编辑from id
        var dlgid = '#dlg';//数据编辑dialog id
        var url;//action
        /*查询*/
        function doSearch(value, name) {
            var where = '';
            doSearch1(dgid, where, value, name);
        }
        /*刷新数据列表*/
        function CallBack() {
            CallBack1(dgid);
        }
        /*保存数据*/
        function doSave(id) {
            doSave1(dlgid, fmid, url, dgid);
        }
        /*删除数据*/
        function doDelete() {
            var ids = "";
            var items = $(dgid).datagrid('getSelections');//返回选中多行
            for (var i = 0; i < items.length ; i++) {
                ids = (ids + items[i].Buttons_ID) + (((i + 1) == items.length) ? '' : ',');
            }
            url = 'Delete';
            doDelete1(url, ids, dgid);
        }

        //新建窗口
        function add() {
            loadData1(dlgid, fmid, {Buttons_Status:0});
            $('#Buttons_ID').textbox('readonly', false);
            url = 'SaveAdd';
        }
        //编辑窗口
        function edit(index, row) {
            if (row) {
                $(dgid).datagrid('unselectAll');
                $(dgid).datagrid('selectRow', index);
            }
            else {
                row = $(dgid).datagrid('getSelected');
            }
            var id = "";
            if (row) {
                id = row.Buttons_ID;
                $('#Buttons_ID').textbox('readonly', true);
                url = 'SaveEdit';
            }
            loadData2(dlgid, fmid, 'GetModel', id);
        }
        $(function () {
            /*无记录样式调整*/
            var col_count = $(dgid).find('th').size();
            var data_none = { Buttons_ID: data_none_html };
            fitDatagirdBind(dgid, data_none, 'Buttons_ID', col_count - 1, 'ck');
        });        


    </script>
}