@{
    ViewBag.Title = "菜单管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*数据列表*@
<table id="dg" class="easyui-datagrid" title="@ViewBag.Title" iconcls="icon-page"
    data-options="toolbar:'#tb',url:'GetDataList',rownumbers:true,autoRowHeight:false,pagination:true,pageSize:15,pageList:[15,30,50,100],striped:true,method:'post',width:'99%',height:document.documentElement.clientHeight-10,onDblClickRow:edit">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true,width:40"></th>
            <th data-options="field:'Menu_ID',align:'center',width:100">菜单编码</th>
            <th data-options="field:'Menu_Name',align:'center',width:100">菜单名称</th>
            <th data-options="field:'Menu_Url',align:'center',width:150">URL链接</th>          
            <th data-options="field:'Menu_Type',align:'center',width:50">类型</th>
            <th data-options="field:'Menu_Order',align:'center',width:50">排序</th>            
            <th data-options="field:'Menu_ParentName',align:'center',width:100">上级菜单</th>
            <th data-options="
                field:'Menu_Status',
                align:'center',
                width:50,
                styler: function(value,row,index){
		                    if (value == '冻结') {
		                        return 'color:red;';
		                    }
		                }">状态</th>
            <th data-options="field:'Menu_createdtime',align:'center',width:110">创建时间</th>
            <th data-options="field:'Menu_Oprt',align:'center',width:60">操作者</th>            
            <th data-options="field:'Menu_Remark',align:'center',width:100">备注</th>
        </tr>

    </thead>
</table>
@*datagrid工具条*@
<div id="tb" style="height: auto; padding: 3px;">
    <a id="ADD" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" onclick="add()">添加</a>
    <a id="MODIFY" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" onclick="edit()">编辑</a>
    <a id="DELETE" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" onclick="doDelete()">删除</a>
    <div style="float:right; line-height:27px;">
        <input class="easyui-searchbox" data-options="prompt:'请输入关键字',menu:'#mm',searcher:doSearch" style="width: 300px; height: 24px;" />
    </div>
    <div id="mm">
        <div data-options="name:'all',iconCls:'icon-ok'">全部</div>
        <div data-options="name:'Menu_ID'">菜单编码</div>
        <div data-options="name:'Menu_Name'">菜单名称</div>
        <div data-options="name:'Menu_ParentID'">上级菜单编码</div>
        <div data-options="name:'Menu_Url'">URL链接</div>
    </div>
</div>
@*编辑窗体*@
<div id="dlg" class="easyui-dialog" data-options="iconCls:'icon-save',closed:true,modal:true,shadow:true" buttons="#dlg-buttons" style="width: 340px;">
    <form id="fmedit" method="post" style="margin: 5px">
        <div class="editor-label">菜单ID:</div>
        <div class="editor-field">
            <input id="Menu_ID" class="easyui-textbox" name="Menu_ID" data-options="required:true" validtype="length[3,10]" style="width: 100%; height: 22px">
        </div>
        <div class="editor-label">菜单名称:</div>
        <div class="editor-field">
            <input class="easyui-textbox" name="Menu_Name" required="required" style="width: 100%; height: 22px">
        </div>
        <div class="editor-label">备注:</div>
        <div class="editor-field">
            <input class="easyui-textbox" name="Menu_Remark" style="width: 100%; height: 22px">
        </div>
        <div class="editor-label">图标:</div>
        <div class="editor-field">
            <input class="easyui-textbox" name="Menu_Ico" style="width: 100%; height: 22px">
        </div>
        <div class="editor-label">菜单类型:</div>
        <div class="editor-field">
            <input class="easyui-textbox" name="Menu_Type" style="width: 100%; height: 22px">
        </div>
        <div class="editor-label">菜单排序:</div>
        <div class="editor-field">
            <input class="easyui-textbox" name="Menu_Order" style="width: 100%; height: 22px">
        </div>
        <div class="editor-label">URL链接:</div>
        <div class="editor-field">
            <input class="easyui-textbox" name="Menu_Url" style="width: 100%; height: 22px">
        </div>
        <div class="editor-label">上级菜单:</div>
        <div class="editor-field">
            <input class="easyui-combobox" name="Menu_ParentID" data-options="
					url:'GetParentList', 
					valueField:'Menu_ID',
					textField:'Menu_Name' "
                style="width: 100%; height: 22px">
        </div>
        <div class="editor-label">状态:</div>
        <div class="editor-field">
            <input checked="checked" name="Menu_Status" style="width: 20px; height: 10px; background-color: white" type="radio" value="0" />正常
            <input name="Menu_Status" style="width: 20px; height: 10px; background-color: white" type="radio" value="1" />冻结
        </div>
    </form>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" id="SAVE" onclick="doSave(this.id)">确定</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-clear" onclick="javascript:$('#dlg').dialog('close');">关闭</a>
    </div>
</div>
@section PageSpecificJavascriptIncludes{
    <script>
        var dgid = '#dg';//数据列表tabel id
        var fmid = '#fmedit';//数据编辑from id
        var dlgid = '#dlg';//数据编辑dialog id
        var url;//action
        /*查询*/
        function doSearch(value, name) {
            var where = '';
            doSearch1(dgid, where, value, name);
        }
        /*刷新数据列表*/
        function CallBack() {
            CallBack1(dgid);
        }
        /*保存数据*/
        function doSave(id) {
            doSave1(dlgid, fmid, url, dgid);
        }
        /*删除数据*/
        function doDelete() {
            var ids = "";
            var items = $(dgid).datagrid('getSelections');//返回选中多行
            for (var i = 0; i < items.length ; i++) {
                ids = (ids + items[i].Menu_ID) + (((i + 1) == items.length) ? '' : ',');
            }
            url = 'Delete';
            doDelete1(url, ids, dgid);
        }

        //新建窗口
        function add() {
            loadData1(dlgid, fmid, {Menu_Status:0});
            $('#Menu_ID').textbox('readonly', false);
            url = 'SaveAdd';
        }
        //编辑窗口
        function edit(index, row) {
            if (row) {
                $(dgid).datagrid('unselectAll');
                $(dgid).datagrid('selectRow', index);
            }
            else {
                row = $(dgid).datagrid('getSelected');
            }
            var id = "";
            if (row) {
                id = row.Menu_ID;
                $('#Menu_ID').textbox('readonly', true);
                url = 'SaveEdit';
            }
            loadData2(dlgid, fmid, 'GetModel', id);
        }

        $(function () {
            /*无记录样式调整*/
            var col_count = $(dgid).find('th').size();
            var data_none = { Menu_ID: data_none_html };
            fitDatagirdBind(dgid, data_none, 'Menu_ID', col_count - 1, 'ck');
        });

    </script>
}