@{
    ViewBag.Title = "角色管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*数据列表*@
<table id="dg" class="easyui-datagrid" title="@ViewBag.Title" iconcls="icon-page"
    data-options="toolbar:'#tb',url:'GetDataList',rownumbers:true,autoRowHeight:false,pagination:true,pageSize:15,pageList:[15,30,50,100],striped:true,method:'post',width:'99%',height:document.documentElement.clientHeight-10,onDblClickRow:edit">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true,width:40"></th>
            <th data-options="field:'Role_ID',align:'center',width:100">角色编码</th>
            <th data-options="field:'Role_Name',align:'center',width:100">角色名称</th>
            <th data-options="field:'Role_Remark',align:'center',width:100">备注</th>
            <th data-options="
                field:'Role_Status',
                align:'center',
                width:50,
                styler: function(value,row,index){
		                    if (value == '冻结') {
		                        return 'color:red;';
		                    }
		                }">状态</th>
            <th data-options="field:'Role_createdtime',align:'center',width:110">创建时间</th>
            <th data-options="field:'Role_oprt',align:'center',width:60">操作者</th>
        </tr>
    </thead>
</table>
@*datagrid工具条*@
<div id="tb" style="height: auto; padding: 3px;">
    <a id="ADD" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" onclick="add()">添加</a>
    <a id="MODIFY" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" onclick="edit()">编辑</a>
    <a id="DELETE" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" onclick="doDelete()">删除</a>
    <a id="MODIFY2" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" onclick="editRight()">设置权限</a>
    <div style=" text-align:right; float:right; line-height:27px;">
        <input class="easyui-searchbox" data-options="prompt:'请输入关键字',menu:'#mm',searcher:doSearch" style="width: 300px; height: 24px;" />
    </div>
    <div id="mm">
        <div data-options="name:'all',iconCls:'icon-ok'">全部</div>
        <div data-options="name:'Role_ID'">角色编码</div>
        <div data-options="name:'Role_Name'">角色名称</div>
    </div>
</div>
@*编辑窗体*@
<div id="dlg" class="easyui-dialog" data-options="iconCls:'icon-save',closed:true,modal:true,shadow:true" buttons="#dlg-buttons" style="width: 340px;">
    <form id="fmedit" method="post" style="margin: 5px">
        <div class="editor-label">角色编码:</div>
        <div class="editor-field">
            <input id="Role_ID" class="easyui-textbox" name="Role_ID" validType="length[3,10]" data-options="required:true" style="width: 100%; height: 22px">
        </div>
        <div class="editor-label">角色名称:</div>
        <div class="editor-field">
            <input class="easyui-textbox" name="Role_Name" required="required" style="width: 100%; height: 22px">
        </div>
        <div class="editor-label">描述:</div>
        <div class="editor-field">
            <input class="easyui-textbox" name="Role_Remark" style="width: 100%; height: 22px">
        </div>
        <div class="editor-label">状态:</div>
        <div class="editor-field">
            <input checked="checked" name="Role_Status" style="width: 20px; height: 10px; background-color: white" type="radio" value="0" />正常
            <input name="Role_Status" style="width: 20px; height: 10px; background-color: white" type="radio" value="1" />冻结
        </div>
    </form>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" id="SAVE" onclick="doSave(this.id)">确定</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-clear" onclick="javascript:$('#dlg').dialog('close');">关闭</a>
    </div>
</div>
@*菜单权限*@
<div id="dlgRight" iconcls="icon-save" buttons="#dlg-buttons-Right"></div>
<div id="dlg-buttons-Right" style="display:none">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="doSaveRight()">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-clear" onclick="javascript:$('#dlgRight').dialog('close');">关闭</a>
</div>
@section PageSpecificJavascriptIncludes{
    <script>
        var dgid = '#dg';//数据列表tabel id
        var fmid = '#fmedit';//数据编辑from id
        var dlgid = '#dlg';//数据编辑dialog id
        var url;//action
        var roleid;//角色ID
        /*查询*/
        function doSearch(value, name) {
            var where = '';
            doSearch1(dgid, where, value, name);
        }
        /*刷新数据列表*/
        function CallBack() {
            CallBack1(dgid);
        }
        /*保存数据*/
        function doSave(id) {
            doSave1(dlgid, fmid, url, dgid);
        }
        /*删除数据*/
        function doDelete() {
            var ids = "";
            var items = $(dgid).datagrid('getSelections');//返回选中多行
            for (var i = 0; i < items.length ; i++) {
                ids = (ids + items[i].Role_ID) + (((i + 1) == items.length) ? '' : ',');
            }
            url = 'Delete';
            doDelete1(url, ids, dgid);
        }

        //新建窗口
        function add() {
            loadData1(dlgid, fmid, {Role_Status:0});
            $('#Role_ID').textbox('readonly', false);
            url = 'SaveAdd';
        }
        //编辑窗口
        function edit(index, row) {
            if (row) {
                $(dgid).datagrid('unselectAll');
                $(dgid).datagrid('selectRow', index);
            }
            else {
                row = $(dgid).datagrid('getSelected');
            }
            var id = "";
            if (row) {
                id = row.Role_ID;
                $('#Role_ID').textbox('readonly', true);
                url = 'SaveEdit';
            }
            loadData2(dlgid, fmid, 'GetModel', id);
        }
        
        $(function () {
            /*无记录样式调整*/
            var col_count = $(dgid).find('th').size();
            var data_none = { Role_ID: data_none_html };
            fitDatagirdBind(dgid, data_none, 'Role_ID', col_count - 1, 'ck');
        });
        /*打开菜单权限编辑窗体*/
        function editRight() {
            var row = $(dgid).datagrid('getSelected');           
            if (row) {
                roleid = row.Role_ID;
                var rolename = row.Role_Name;
                $('#dlgRight').dialog({
                    title: '编辑菜单权限[' + roleid + '][' + rolename + ']',
                    //href: '/Roles/RoleRights?roleid=' + roleid,
                    width: 600,
                    height: 480,
                    shadow: true,
                    modal: true
                });
                $('#dlgRight').dialog('refresh', '/Roles/RoleRights?roleid=' + roleid);
            }
            else {
                $.messager.alert("提示", "请选择一条记录！", "warning");
            }
        }
        /*保存菜单操作权限*/
        function doSaveRight() {
            $("#fmRight").form('submit', {
                url: 'SaveRight?roleid=' + roleid,
                success: function (result) {
                    if (result == "保存成功!") {
                        $('#dlgRight').dialog('close');
                        //$.messager.alert("提示", result);
                        CallBack1(dgid);//重载记录
                    }
                    else {
                        $.messager.alert("提示", result);
                    }
                }
            });
        }
    </script>
}